nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: skyblue;
    position: relative;
}

.nav_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.my_shop{
    font-size: 25px;
    cursor: pointer;
}

.cart{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart span{
    font-size: 25px;
}